<div class="container">
  <h1>Yes Another News App</h1>
  <h2>Settings</h2>
  <div>NewsAPI.org</div>

  <form class="d-flex" [formGroup]="form">
    <input
      type="text"
      class="form-control"
      placeholder="API from newsapi.org"
      formControlName="api"
    />
  </form>
  <div class="d-flex justify-content-between">
    <div>
      <sl-button pill (click)="alertWC()" (sl-focus)="focusEvent()" (sl-blur)="blurEvent()">
        <sl-icon slot="suffix" name="exclamation-triangle"></sl-icon>
        Web Component button
      </sl-button>



      <button class="btn btn-primary" (click)="goBack()"><i class="bi bi-1-circle"></i>
         Back</button>
      <button class="btn btn-primary" [disabled]="form.invalid" (click)="deleteApi()">Delete</button>
    </div>
    <button class="btn btn-primary" [disabled]="form.invalid" (click)="saveApi()">Add</button>
  </div>
</div>
